.header {
    text-align: center;
}

.mainBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#searchArea {
    width: 30%;
    margin: 15px;
}

#resultBox {
    text-transform: capitalize;
    width: 60%;
    margin: 15px;
    margin: 10px;
}  

.describe {
    display: flex;
    align-items: center;
    margin: 10px;
}

.humidity {
    margin: 10px;
}
.wind {
    margin: 10px; 
}

.temp{
    margin: 10px;
}

.forecast {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    align-items: center;
    justify-self: center;
}
.forecast h3{
    width: 100%;
}

.dayBox{
    display: block;
    width: 20%;
}